:root{
	--mainColor: #737379;
	--secondaryColor: #4d5250;
	--borderColor: #595260;
	--mainText: #ffff;
	--navColor: black;
	--textboxColor: #2d2a22;
	--boxshadowColor: black;
	--textboxborderColor: white;
	--linkColor: white;
	--hrColor: white;
	--paraColor: white;
	--imgShadowColor: black;
	--dotBorderColor: white;
	--formFontColor: white;
	--formTextAreaColor: grey;
	--buttonColor: white;
	--hoverColor: black;
	--dotBorderHoverColor: black;
}