:root{
	--mainColor: #3d3d40;
	--secondaryColor: #000000;
	--borderColor: #595260;
	--mainText: #ffff;
	--navColor: #1e1e1f;
	--textboxColor: #1e1e1f;
	--boxshadowColor: black;
	--textboxborderColor: white;
	--linkColor: white;
	--hrColor: white;
	--paraColor: white;
	--imgShadowColor: black;
	--profileBgColor: #3d3d40;
	--formFontColor: white;
	--formTextAreaColor: #7b7575;
	--buttonColor: white;
	/*--hoverColor: black;*/
	--svgColor: white;
}