body{
	margin: auto; 
	background: url("img/favicon.png");
	/*font-family: 'Courgette', cursive;*/
	/*font-family: 'Orbitron', sans-serif;*/
	font-family: 'Lexend Mega', sans-serif;
}

h1{
	color: white;
	text-align: center;

}

h2{
	font-size: 45px;
	color: white;
	padding: 0px 20px 0px 50px; 
}

h5{
	text-align: center;
}

a:hover{
	fill: white;
}

.main-cont{
	margin: auto;
	/*background-image: url("");*/
	/*background-image: linear-gradient(black, grey, lightgrey);*/
	background-color: #28abb9;
	width: 100%;
	padding: 10px; 
}

.user-box{
	padding-top: 90px; 
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 600px;
	width: 700px;
}

.user-img{
	transition: transform .2s;
	padding: 20px;
	border-radius: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	height: 200px;
}

.user-img:hover{
	/*box-shadow: -1px 1px 13px 0px;*/
	transform: scale(1.4);
}

.social-icons{
	display: block;
	text-align: center;
	height: auto;
	width: auto;
}

.social-img{
	margin-right: 20px;
}

/*second Section*/
.about{
	padding: 10px;
	margin: auto;
	height: 600px;
	width: 100%;
	background-color: black;
}

p{
	font-size: 20px;
	color: white;
	width: 500px;
	padding: 20px 20px 20px 50px; 
}

.about-left{
	border-right: 1.5px solid white;
	margin-top: 90px;
	margin-left: 20px;
	width: 690px;
	height: 400px;
	float: left;
	background-color: black;
}

.about-right{
	height: 500px;
	float: right;
	margin-top: 50px;
	margin-right: 50px;
	background-color: black;
}

.about-image{
	margin-top: 125px; 
	margin-right: 60px;
	float: right;
	height: 250px;
	width: 250px;
	border-radius: 100%;
}

.pro{
	padding: 10px;
	margin: auto;
	height: 600px;
	width: 100%;
	background-color: #9088d4;
}

.pro1{
	margin: 20px 0px 0px 80px; 
	height: auto;
	width: auto;
	float: left;
	background-color: none;
	box-shadow: 1px 2px 20px;
}

.pro1-img{
	height: 200px;
	width: 300px;
}