body{
	font-weight: 2em;
	margin: auto; 
	letter-spacing: 2.5px;
	background: url("img/favicon.png");
	font-family: 'Prata', serif;
	/*font-family: 'Lexend Mega', sans-serif;*/
}

h1{
	color: black;
	text-align: center;
}

h2{
	border-bottom: 2px solid;
	padding-bottom: 30px;
	margin: 40px;
	text-align: center;
	color: black;
}

h3{
	text-align: center;
	color: white;
}

h4{
	color: black; 
}

h5{
	
	color: black;
	margin: 0px;
	padding-top: 10px;
	text-align: center;
}

a{
	text-decoration: none;
}


/*function for rotating image */
@keyframes rotation {
  from {
  		transform: rotate(0deg);
  }
  to{
  		transform: rotate(360deg);
  }
}

a:hover{
	fill: black;
}

#logo{
	margin-left: 10px;
	margin-top: 10px;
	float: left;
	height: 45px;
	width: 45px;
}

#img-logo{
	border-radius: 40%;
	height: 100%;
	width: 100%;
}

#img-logo:hover{
	animation: rotation 1s linear;
	box-shadow: 0px 0px 4px black;
}

#mail{
	box-shadow: inset 0px 0px 4px 0px #180d1c;
	margin: 10px 10px 0px 0px;
	background-color: #a76365;
	border: 1px solid #753c3c;
	border-radius: 10px;
	text-align: center;
	height: 50px;
	width: 140px;
	float: right;
}

#mail:hover{
	box-shadow: 0px 4px 2px 0px black;

}

.navbar{
	display: block;
	height: 80px;
	width: 100%;
}

.main-cont{
	background: linear-gradient(181deg, #bb6363, #34626c);
	margin: auto;
	background-color: #34626c;
	width: 480px;
	height: 700px;
	padding: 10px; 
}


.user-box{
	margin-top: 50px; 
	padding-top: 20px; 
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 390px;
	width: 420px;
}

.user-img{
	transition: transform .2s;
	padding: 20px;
	border-radius: 100%;
	display: block;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	height: 200px;
}

.user-img:hover{
	/*box-shadow: -1px 1px 13px 0px;*/
	transform: scale(1.4);
}

.social-icons{
	display: block;
	text-align: center;
	height: auto;
	width: auto;
}

#h5-font-size{
	font-size: 18px;
	margin: 25px 5px 5px 5px;
	padding-bottom: 10px;
}

.social-img{
	height: 45px;
	width: 45px;
	margin-right: 15px;
}

/*second Section*/
.about{
	background: linear-gradient(0deg, #a4bb85, #3d636b);
	padding: 10px;
	margin: auto;
	height: 700px;
	width: 480px;
	background-color: #210a25;
}


p{
	font-weight: bold;
	line-height: 35px;
	margin-top: 80px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 20px;
	color: black;
	width: 400px;
	padding: 20px 20px 20px 20px; 
}

.about-left{
	background: transparent;
	margin-top: 20px;
	width: 480px;
	height: 400px;
	
}

.about-right{
	display: none;
	background-size: cover;
	height: 100px;
	background-color: #210a25;
}

.about-image{
	float: right;
	height: 100px;
	width: 100px;
	border-radius: 100%;
}

.pro{
	background: linear-gradient(0deg, #45524f, #a3bd85);
	margin: auto;
	padding: 10px;
	height: 800px;
	width: 480px;
	
}

.pro1{
	margin-bottom: 100px;
	position: relative;
	text-align: center;
	display: block;
	margin-right: auto;
	margin-left: auto; 
	height: 200px;
	width: 300px;
	background-color: none;
	/*box-shadow: 1px 2px 20px;*/
}

.pro1-img{
	filter: blur(2px);
	border-radius: 2.5%;
	height: 100%;
	width: 100%;
}

.pro2{
	position: relative;
	text-align: center;
	display: block;
	margin-right: auto;
	margin-left: auto; 
	height: 200px;
	width: 300px;
	background-color: none;
}

.pro2-img{
	filter: blur(2px);
	border-radius: 2.5%;
	height: 100%;
	width: 100%;
}

.pro1-img:hover{
	filter: none;
	box-shadow: 1px 2px 20px;
}
.pro2-img:hover{
	filter: none;
	box-shadow: 1px 2px 20px;
}


.center{

	font-weight: 900;
    background-color: #7db987;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 13px;
    width: 120px;
}
.center:hover{
	box-shadow: 1px 2px 20px;
}


#acheive-para{
	padding: 0px 15px;
	border-left: 1px solid;
    text-align: initial;
    margin-left: 45px;
	line-height: 20px;
	font-size: 15px;
	width: auto;
	margin-top: 0px;
}

.acheive{
	margin: auto;
	padding: 10px;
	height: 770px;
	width: 480px;
	background: linear-gradient(0deg, #bd7351, #40514f);
}

.first-box{
	margin: 100px auto 0px auto;
	width: 350px;
}

.second-box{
	width: 350px;
	margin: 10px auto 0px auto;
}

.third-box{
	width: 350px;
	margin: 10px auto 0px auto;
}

.fourth-box{
	width: 350px;
	margin: 10px auto 0px auto;
}

.git-section{
	background: linear-gradient(180deg, #bd7351, #62a9a0);
	padding: 10px;
	margin: auto;
	background-color: #210a25;
	width: 480px;
	height: 500px;
}

.content{
	background: transparent;
}

.foot{
	margin: auto;
    padding: 10px;
    width: 480px;
    height: 250px;
    background: #bd7452;
}
/*
@media (max-width: 480px){
	p{
		text-align: center;
		padding: 5px;
		font-size: 10px;
		width: 300px;
		height: 200px;
	}
	body{
		background-color: grey;
		width: 480px;
		margin: auto;
		padding: 5px;
	}
	h2{
		font-size: 20px;
	}

	.navbar{
		width: 480px;
	}
	.main-cont{
		background-color: black;
		min-width: 500px;
		height: auto;
	}
	.user-box{
		width: 480px;
		height: auto;
	}
	.about{
		margin: 2px;
		height: 300px;
		min-width: 480px;
	}
	.about-left{
		margin: 0px;
		width: 300px;
		height: 200px;
	}
	.about-right{
		margin: 0px; 
		width: 100px;
		height: 100px;
	}
	.about-image{
		margin: 0px;
		width: 100px;
		height: 100px;
	}
	.pro{
		max-width: 480px;
	}
	.acheive{
		max-width: 480px;
	}
	.foot{
		max-width: 480px;
	}
}*/
