body{
	margin: auto; 
	background: url("img/favicon.png");
	/*font-family: 'Courgette', cursive;*/
	/*font-family: 'Orbitron', sans-serif;*/
	font-family: 'Lexend Mega', sans-serif;
}

h1{
	color: white;
	text-align: center;

}

h2{
	font-size: 35px;
	color: white;
	padding: 0px 20px 0px 50px; 
}

h3{
	/*margin-left: 100px;*/
}

h5{
	text-align: center;
}

a:hover{
	fill: white;
}

.main-cont{
	background-color: #000000;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg %3E%3Ccircle fill='%23000000' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%23180d1c' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%23261431' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%23351947' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%23451e5e' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%23552277' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
	margin: auto;
	/*background-image: url("");*/
	/*background-image: linear-gradient(black, grey, lightgrey);*/
	background-color: #34626c;
	width: 100%;
	padding: 10px; 
}

.user-box{
	padding-top: 90px; 
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 600px;
	width: 700px;
}

.user-img{
	transition: transform .2s;
	padding: 20px;
	border-radius: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	height: 200px;
}

.user-img:hover{
	/*box-shadow: -1px 1px 13px 0px;*/
	transform: scale(1.4);
}

.social-icons{
	display: block;
	text-align: center;
	height: auto;
	width: auto;
}

.social-img{
	margin-right: 20px;
}

/*second Section*/
.about{
	background-color: #ff7700;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%231c1117' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23aa0000' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23380e34' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23a3001b' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23550a52' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%239c0036' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%2371076f' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23960052' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%238e038d' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%238f006d' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23aa00aa' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23880088' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
	padding: 10px;
	margin: auto;
	height: 600px;
	width: 100%;
	background-color: #30475e;
}

p{
	font-size: 20px;
	color: white;
	width: 500px;
	padding: 20px 20px 20px 50px; 
}

.about-left{
	background-color: #ff7700;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%231c1117' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23aa0000' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23380e34' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23a3001b' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23550a52' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%239c0036' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%2371076f' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23960052' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%238e038d' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%238f006d' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23aa00aa' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23880088' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
	border-right: 1.5px solid white;
	margin-top: 90px;
	margin-left: 20px;
	width: 690px;
	height: 400px;
	float: left;
	background-color: #30475e;
}

.about-right{
	background-color: #ff7700;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%231c1117' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23aa0000' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23380e34' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23a3001b' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23550a52' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%239c0036' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%2371076f' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23960052' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%238e038d' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%238f006d' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23aa00aa' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23880088' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
	height: 500px;
	float: right;
	margin-top: 50px;
	margin-right: 50px;
	background-color: #30475e;
}

.about-image{
	margin-top: 125px; 
	margin-right: 60px;
	float: right;
	height: 250px;
	width: 250px;
	border-radius: 100%;
}

.pro{
	background-color: #ff7700;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%231c1117' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23aa0000' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23380e34' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23a3001b' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23550a52' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%239c0036' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%2371076f' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23960052' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%238e038d' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%238f006d' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23aa00aa' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23880088' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
	padding: 10px;
	margin: auto;
	height: 600px;
	width: 100%;
	background-color: #214252;
}

.pro1{
	margin: 70px 0px 0px 200px; 
	height: 200px;
	width: 350px;
	float: left;
	background-color: none;
	/*box-shadow: 1px 2px 20px;*/
}

.pro1-img{
	filter: blur(2px);
	border-radius: 2.5%;
	height: 100%;
	width: 100%;
}

.pro2{ 
	margin: 70px 200px 0px 0px; 
	height: 200px;
	width: 350px;
	float: right;
	background-color: none;
}

.pro2-img{
	filter: blur(2px);
	border-radius: 2.5%;
	height: 100%;
	width: 100%;
}

.pro1-img:hover{
	filter: none;
	box-shadow: 1px 2px 20px;
}
.pro2-img:hover{
	filter: none;
	box-shadow: 1px 2px 20px;
}

.acheive{
	padding: 10px;
	height: 600px;
	width: 100%;
	background-color: grey;
}

.foot{
	padding: 10px;
	width: 100%;
	height: 300px;
	background-color: lightgrey;
}