/* For Moto G4 and Galaxy S5 screen*/

body{
	margin: auto; 
	background-color: white;
	/*fot-family: 'Courgette', cursive;*/
	font-family: 'Orbitron', sans-serif;
}

h2{
	text-align: center;
	margin-bottom: 5px;
}

.social-img{
	margin-right: 5px;
	color:  black; 
	width: 15px;
}

.social-icons{
	text-align: center;
	display: block;
}

.hobbies-img{
	display: block;
	text-align: center;
	height: 120px;
	width: 180px;
}

p{
	font-weight: bolder;
}

#about-para{
	text-align: justify;
}


.main-content{
	margin-bottom:0px;
	height: auto;
	width: 360px;
	background-color: white;
}

.navbar{
	margin-top: -5px;
	top: 0;
	position: fixed;
	border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;	
	width: 100%;
	height: 60px;
	background-color: grey;
}

.navbar ul{
	text-align: center;
	padding-left: 0px;
	list-style: none;
}

.navbar li{
	color: cyan;
	margin-right: 5px;
	padding: 8px;
	display: inline-block;
}

.navbar li:hover{
	color: black;
	background-color: #a3d2ca;
	border-radius: 10px;
	box-shadow: 0px 6px 10px 0.5px #4a3a3a;
}

.navbar li a{
	
	text-decoration: none;
}

.navbar li a:hover{
	color: black;
}

.first{
	padding: 10px;
	border-radius: 8px;
	margin: 80px 10px 10px 10px;
	width:auto;
	height: auto;
	box-shadow: 0px 0px 10px 1px #4a3a3a;
	background-color: white;
}

.first:hover{
	box-shadow: 1px 0px 20px 3px #4a3a3a;
}

.second{
	padding: 10px;
	border-radius: 8px;
	margin: 20px 10px 10px 10px;
	width:auto;
	height: auto;
	box-shadow: 0px 0px 10px 1px #4a3a3a;
	background-color: white;
}

.second:hover{
	box-shadow: 1px 0px 20px 3px #4a3a3a;
}

.third{
	padding: 10px;
	border-radius: 8px;
	margin: 20px 10px 0px 10px;
	width:auto;
	height: auto;
	box-shadow: 0px 0px 10px 1px #4a3a3a;
	background-color: white;
}

.third:hover{
	box-shadow: 1px 0px 20px 3px #4a3a3a;

}

.user-image{
	height: 90px;
	width: 90px;
	border-radius: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}


/*For Iphone 6/7/8*/
@media (min-width: 375px){
	.main-content{
		width: 375px;
	}
}

/*For Pixel 2 and XL screen*/
@media (min-width: 411px){
	.main-content{
		width: 411px;
	}
	
}

/**/
@media screen and  (min-width: 540px){
	.main-content{
		width: 540px;

	}
}

/*For IPad*/
@media (min-width: 768px){
	.main-content{
		width: 768px;
	}
	.hobbies-img{
		height: 100px;
		width: 150px;
	}
}
