:root{
	--mainColor: #ffc857;
	--secondaryColor: #78c6a3;
	--borderColor: #595260;
	--mainText: #000000;
	--secondaryText: #4fab4d;

}
html, body{
	font-family: 'Roboto', sans-serif;
	padding: 0px;
	margin: 0px;
}


h1, h2, h3, h4, h5, h6, li{
	color: var(--mainText);
	font-family: 'Jost', sans-serif;
}

h1 {font-size: 50px; text-align: center;}
h2 {font-size: 35px;}
h3 {font-size: 30px;}
h4 {font-size: 18px;}
h5 {font-size: 18px;}

p {
	font-size: 18px;
}

#quote {
	margin-left: auto;
	margin-right: auto;
	font-family: 'Cedarville Cursive', cursive;
	text-align: center;
	font-size: 20px;
	width: 50%;
}

li { font-weight: bold; font-size: 15px;}

a{
	text-decoration: none;
	color: black;
}

li {
	list-style: none;
}

hr {border: 1px solid black;}

.s1{
	padding-bottom: 50px;
	background-color: var(--mainColor);
	overflow: auto;
}

.s2 {
	background-color: var(--secondaryColor);
	overflow: auto;
}

.main-container {
	
	width: 1100px;
	margin: 0 auto;

}

.greeting-area {
	background-color: var(--mainColor);
	align-content: center;
	justify-content: center;
	min-height: 10em;
	display: grid;

}

.intro-section {
	box-shadow: 0px 20px 20px 0px #2c2e43;
	background-color: var(--secondaryColor);
	border-radius: 15px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
		'nav nav'
		'left-column right-column'
	; 
}

.nav-section {
	background-color: #56ab91; 
	grid-area: nav;
	border-radius: 15px 15px 0% 0%;
	display: flex;
	justify-content: space-between;
	align-content: center;
}

.dot-section {
	display: flex;
	padding: 10px;
}

#dot1 {background-color: #f45f57;}
#dot2 {background-color: #f8bc30;}
#dot3 {background-color: #42c840;}


.browser-dot {
	box-shadow: -1px 1px 3px -1px rgb(0 0 0 / 75%);
	margin: 5px;
	height: 15px;
	width: 15px;
	background-color: black;
	border-radius: 50%
}

#contact-section {
	padding: 10px;
	margin: 0px;
}

.left-column {
	border-radius: 15px;
	padding: 50px 0px 50px 0px;
	grid-area: left-column;
	background-color: var(--secondaryColor);
	/*border: 1px solid var(--mainColor); */
}

#profile-img {
	box-shadow: 0px 1px 10px 1px #524d4d;
	display: block;
	margin: 0 auto;
	height: 200px;
	width: 200px;
	border-radius: 50%;
}

#theme-section {
	display: flex;
	justify-content: center;
}

.theme-dot {
	height: 30px;
	width: 30px;
	border-radius: 50%;
	margin: 8px;
	border: 2px solid white;
	box-shadow: 0px 1px 5px 2px grey;
	cursor: pointer; 
}

.theme-dot:hover{
	border-color: black;
	box-shadow: 0px 1px 8px 3px grey;
}

#pink-mode { background-color: #ef476f;}
#green-mode { background-color: #06d6a0;}
#blue-mode { background-color: #118ab2;}
#dark-mode { background-color: #073b4c;}


.right-column {
	display: grid;
	margin: 0 auto;
	align-content: center;
	grid-column: right-column;
	background-color: var(--secondaryColor);
	padding: 50px 0px;  
}

#text-box-shadow {
	background-color: #99e2b4;
	width: 280px;
	height: 180px;
	padding-left: 30px;
	padding-top: 30px;
}

#right-text-box {
	padding: 15px;
	width: 280px;
	border: 1.5px solid black;
}

.about-section {
	display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    padding-bottom: 50px;
    padding-top: 50px;
    gap: 100px;
}

.social-section {
	padding-top: 100px;
}


#skills {
	display: flex;
	justify-content: space-evenly;
	background-color: #99e2b4;  
}

#social-img {
	width: 100%;
	border-radius: 5px;
	box-shadow: 1px 2px 5px 2px grey;
}


.twitter-follow-button { 
	box-shadow: -1px 1px 9px 0px grey;
 	margin-right: auto;
	margin-left: auto;
	display: block;
}

.linkedin-badge {
	color: black;
	box-shadow: -1px 1px 9px 0px grey;
	margin-top: 10px;
	border-radius: 3px; 
	line-height: 0;
    justify-content: center;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    background-color: lightblue;
    height: 20px;
    width: 148px;
}

.linkedin-badge:hover{
	background-color: #5ecdf1;
	cursor: pointer;
}

.project-section {
	padding-top: 35px;
	gap: 50px;
	justify-content: center;
	display: grid;
	grid-template-columns: repeat(auto-fit, 320px); 
}

.post {
	box-shadow: 0px 5px 10px 0px #292828;
	border-radius: 10px 10px;
}

.post:hover {
	cursor: pointer;
	box-shadow: 0px 8px 15px 0px #292828; 
}

.post-preview {
	border-radius: 0 0 10px 10px;
	background-color: var(--secondaryColor);
	padding: 15px;
}

.thumbnail {
	border-radius: 10px 10px 0 0;
	width: 100%;
	display: block;
	height: 180px;
}


@media screen and (max-width: 1200px){
	.main-container{
		width: 90%;
		margin: 0 auto;
	}
}

@media screen and (max-width: 838px){
	.intro-section {
	box-shadow: 0px 20px 20px 0px #2c2e43;
	background-color: var(--secondaryColor);
	border-radius: 15px 15px 15px 15px;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas:
		'nav'
		'left-column' 'right-column'
		; 
	}

	.left-column {
		justify-content: center;
	}
}