body{
	margin: auto; 
	background-color: yellow;
	/*font-family: 'Courgette', cursive;*/
	font-family: 'Orbitron', sans-serif;
}

.one{
	width: 350px;
	height: 360px;
	margin: auto;
	background-color: green;

}

.pr-1{
	height: 500px;
	width: 360px;
	background-color: grey;
}

.pr-2{
	background-color: grey;
}