body{
	margin-left: 0px;
 	font-family: 'Lato', sans-serif;
  	line-height: 1.5;
  	background-color: #61d4b3;
}
	
.topnav {
	margin-top: -99px;
	position: fixed;
	width: 100%;
	font-size: 18px;
	display: block;
	background-color: #beebe9;
  	list-style-type: none;
  	padding: 25px 16px;
  	overflow: hidden;
  	border-radius: 0px;
  	box-shadow: 2px 5px 15px grey;
}

li{	
	margin-left: 10px;
	margin-right: 20px;
	float: left;
	padding-right: 10px;
}
    
.nav_content a{
	text-decoration: none;
	color: black;
}
	
.nav_content a:hover{
	padding:10px 5px;
	box-shadow: 1px 2px 10px grey;
	background-color: #61d4b3;
	color: black;
	border-radius: 5px;
}

#box{
	box-shadow: 2px 2px 15px grey;
	border-radius: 5px;
    width: 620px;
    margin: 100px auto;
   	background-color: #beebe9;
    
}

.image{
	border-radius: 5px 5px 0 0;
	width: 100%;
	
}

.imgbox {
	transform: translate(0%, -160%);
	text-align: center;
    color: black;
}

.imgbox h2{
	margin-bottom: -20px;
}


.bio{
	display: block;
	text-align: center;
	padding: 50px;
	height: 680px;
	text-decoration: none;
}



/*id for visit my Gitub profile*/
#biobox {
	text-decoration: none;
	border-radius: 5px;
	margin: auto;
	background-color: #61d4b3;
	padding-top: 10px;
	color: black;
	width: 18em;
	height: 2.5em;
	box-shadow: 2px 2px 15px grey;
}

#biobox a{
	text-decoration: none;
	color: black;
}

#tweet{
	max-height: 600px !important;
}

/*id for bio*/
#content{
	text-align: left;
	background-color: #beebe9;
	width:100%;
}

.map{
	margin-top: 20;
	margin-bottom: 20;
}

.svg-icon{
	margin: 10px;
	height: 30px !important;
	width: 30px !important;
}

.svg-icon a{
	text-decoration: none;
}

.svg-icon a:hover{
	color: black !important;
}